@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: #EFEFEF;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.container {
    min-width: 940px;
    margin: 0px auto;
    padding: 0px 10px;
}

.flex-condition-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background-color: #335277;
    height: 51px;
    display: flex;
    align-items: center;
}

.main_title {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 1.12em;
    margin: 0px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.menu_item:first-child {
    margin-right: 28px;
}

.menu_item {
    color: #FEFEFE;
    font-size: 1.06em;
    font-weight: 400;
}

.intro {
    background-image: url('../img_src/background/bg_intro.svg');
    background-repeat: no-repeat;
    background-position: 177px 32px;
    height: auto;
    margin: 133px auto 0px auto;
    display: flex;
    justify-content: space-between;
    max-width: 746px;
}

.left_introduction {
    margin-top: 86px;
}

.intro_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.75em;
    max-width: 283px;
    line-height: 33.6px;
    color: #335277;
    margin: 0px;
}

.my_photo {
    width: 240px;
    height: 240px;
}

.my_name {
    font-family: 'Poppins', sans-serif;
    color: #7AA873;
    font-weight: 700;
}

.info_intro {
    font-weight: 400;
    font-size: 1.06em;
    color: #252525;
    max-width: 267px;
    display: block;
    margin-top: 12px;
}

.contact {
    margin: 41px auto 0px auto;
    font-size: 1.06em;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #252525;
}

.banner {
    background-image: url('../img_src/background/code.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 940px;
    height: 293px;
    margin: 136px auto 0px auto;
}

.holder_about {
    margin: 0px auto;
    max-width: 460px;
}

.info_title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #252525;
    margin: 79px 0px 54px 0px;
    max-width: 460px;
    text-align: center;
}

.info {
    color: #000;
    max-width: 458px;
    line-height: 33.6px;
}

.footer {
    padding: 19px 0px;
    background-color: #335277;
    margin-top: 202px;
}

.copy {
    margin: 0px auto;
    max-width: 120px;
    font-size: 1em;
    color: #FEFEFE;
}

.right {
    text-align: right;
}

@media (max-width: 940px) {
    .container {
        min-width: 746px;
    }
}

@media (max-width: 776px) {
    .container {
        min-width: calc(100vw - 30px);
    }
    .intro {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .left_introduction {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .menu {
        display: none;
    }
}

.js-animate {
    display: none;
}

.activeAnimate {
    display: block !important;
    animation: animate 0.75s forwards !important;
}

@keyframes animate {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}